Old/AlarmApp.py
Old/AlarmClient.py
Old/AlarmServer_v1.py
Old/AlarmServer.py
Old/AlarmServerReplyTest.py
Old/AudioController.py
Old/desktop.ini
Old/playaudio.py
Old/siren.wav
Old/Windows Ringout.wav
.gitignore
